.ExpandCard {
    display: flex;
}

.ExpandCardLeft {
    width: 150px;
}
.ExpandCardRight {
    padding: 5px 5px 5px 15px;
    width: 100%;
    text-align: left;
}
.btnArena {
    width: 150px;
    margin: 1px 0;
    font-size: .8em;
}

iframe {
    width: 100%;
    height: 300px;
    border-radius: 0 0 20px 20px;
}


@media screen and (max-width: 730px) {
    .ExpandCard {
        flex-direction: column-reverse;
        align-items: center;
    }
}