
.selectOption {
    justify-content: center;
    margin: 2em auto;
    max-width: 50%;
}

.selectOption > select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 730px) {
    .selectOption > select {
        width: 90%;
    }
}