.teamImg > img {
    width: 30px;
    height: 30px;
}
.teamImg {
    text-align: left;
}

.homePageStandings {
    align-items: flex-start;
    justify-content: flex-start;
    vertical-align: text-top;
    width: 100%;
}
.homePageStandingsContainer > h2, h3 {
    color: white;
    font-family: "Sriracha";
}
.scoreStandings {
    width: 100% !important;
}

.scoreStandings > tbody > tr > td {
    padding: 5px;
}

.tableCSS {
    text-align: center;
}

#tableStandings {
    align-items: center;
    margin: 0 auto;
    width: 100%;
    /* border: 2px solid #ffcc00; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

#tableStandings > thead > tr > th:first-of-type {
    border-top-left-radius: 10px;
}
#tableStandings > thead > tr > th:last-of-type {
    border-top-right-radius: 10px;
}
#goalStandings {
    align-items: center;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,1);
    overflow: hidden;
}

#goalStandings > thead > tr > th:first-of-type {
    border-top-left-radius: 10px;
}
#goalStandings > thead > tr > th:last-of-type {
    border-top-right-radius: 10px;
}
#goalStandings > tbody > tr:last-child > td:first-of-type {
    border-bottom-left-radius: 10px;
}
#goalStandings > tbody > tr:last-child > td:last-of-type {
    border-bottom-right-radius: 10px;
}

.tableRow {
    vertical-align: middle;
}
.teamName {
    text-align: left;
}
.teamStats {
    width: 50px;
}

.tableContainer {
    margin: 1rem;
}

thead > tr {
    vertical-align: middle;
}

thead > tr > th:first-child {
    padding: 10px;
}

thead > tr > th:last-child {
    padding: 10px;
}

tbody tr:last-child td {
    border-style: none;
}

.emptyScorers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 70%;
    background: rgba(255,255,255,.5);
    border: 2px rgba(255,255,255,1) solid;
    margin: 50px auto;
    color: black;
    font-family: "Sriracha";
    border-radius: 20px;
}
.goalScorerStats {
    width: 70%;
}

.goalScorerStats > div {
    margin: 20px auto;
    border: 2px solid #ffcc00;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
    width: 90%;
}
.tableStats {
    margin: 40px 0 0 0;
}
.tableStats > div {
    margin: 0 auto 40px auto;
    width: 70%;
    border: 2px solid #ffcc00;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}
hr {
    border: none;
    height: 3px;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    background: white;
}
.previousWinners {
    width: 50%;
}
#goalScorersAndWinners {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:flex-start;
}
.firstHeaderRow{
    border-top-left-radius: 10px;
}
.lastHeaderRow{
    border-top-right-radius: 10px;
}
.previousWinnersTable {
    max-height: 350px;
    border: 2px solid #ffcc00;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
}
.table {
    margin-bottom: 0.2rem;
}
.winnerTableValue {
    display: flex;
    justify-content: center;
}
.previousWinnerCrestDiv {
    padding: 0 5px;
    display: flex;
    align-items: center;
}
.previousWinnerCrest {
    margin: 0 auto;
    height: 30px;
    width: 30px;
}
.previousWinnerTextDiv {
    width: 40%;
    display: flex;
    margin: 0 0 0 5px;
}
.previousWinnerText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 100%;
}
.nationalityPlayer {
    display: flex;
    align-items: center;
}
.header {
    position: sticky;
    top: 0;
}

@media screen and (max-width: 1700px) {
    .homePageStandings {
        margin: 2em auto 0 auto;
    }
}
@media screen and (max-width: 1200px) {
    .previousWinners {
        width: 100%;
    }
    .goalScorerStats {
        width: 100%;
    }
    #goalScorersAndWinners {
        flex-direction: column;
    }
}

@media screen and (max-width: 992px) {
    .homePageStandings {
        flex-direction: column;
        max-width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .tableStats > div {
        width: 100%;
    }
    .goalScorerStats > div {
        width: 100%;
    }
    .winnerTableValue {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .previousWinnersTable {
        width: 100%;
        margin: 0 auto;
    }
    .previousWinnersTable > table {
        font-size: 13px;
    }
    #goalStandings {
        font-size: 13px;
    }
    #tableStandings {
        font-size: 13px;
    }
    .teamImg > img {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 500px) {
    .tableCSS {
        font-size: .7rem;
    }
    .previousWinnerCrest {
        display: none;
    }
}