.cardContainer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainerHome, .cardContainerAway {
    display: flex;
}

.cardContainerHome > div,
.cardContainerAway > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxShadow {
    box-shadow: 2px 100px #888888;
}

.matchesCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    margin: 10px 0px 10px 0;
    /* padding: 25px; */
    width: 70%;
    border: 2px rgba(0,0,0,.5) solid;
    background: white;
    box-shadow: 5px 5px 15px #000000;
    border-radius: 10px;
    transition: 1s;
}

.cardContainer > div:last-child{
    margin: 0 0 100px 0;
}

.topMatchCard {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background: rgba(0,0,0,.8);
    border-radius: 8px 8px 0 0;
}

.botMatchCard {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin: 10px 0px 10px 0;
    width: 100%;
    padding: 15px;
}

.botMatchCard > div {
    width: 33%;
}

.matchesCardContainer:hover {
    
    transform: scale(1.05);
}

.matchCardName {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.matchdayMatch {
    color: white !important;
}

.currentMatchday {
    background: teal;
    color: white;
    border: 2px rgba(255,255,255,.6) solid;
    box-shadow: 5px 5px #000000d2;
}

.cardContainerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullTime {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}

.matchday {
    /* position: absolute; */
    /* margin-bottom: 4rem; */
    justify-content: space-around;
    font-size: 15px;
    font-weight: normal;
    /* font-style: italic; */
    font-family: "Sriracha";
    color: white;
}

.halfTime {
    position: absolute;
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
    margin-bottom: -4rem;
}

.teamLogo {
    height: 70px;
    width: 70px;
}

.expandable {
    display: flex;
    flex-direction: column;
    width: 60%;
    /* padding: 10px; */
    border-radius: 10px;
    margin: 10px 0;
    border: 3px rgba(0,0,0,1) solid;
    background: rgba(255,255,255,.9);
}

.hidden {
    display: none;
}




@media screen and (max-width: 1000px) {
    .matchesCardContainer {
        width: 100%;
    }
    .expandable {
        width: 100%;
    }
}

@media screen and (max-width: 770px) {
    .matchCardName {
        display: none !important;
    }
    .cardContainerHome, .cardContainerAway {
        justify-content: center;
    }
}

@media screen and (max-width: 440px) {
    .topMatchCard {
        flex-direction: column;
    }
}