.matchesHeader_title {
    /* width: 60%; */
}

.MatchesHeader {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    background: rgba(0,0,0,.4);
}
.selectOption {
    margin: 0px auto;
    width: 40%;
    padding: 5px;
}
.selectOption > p {
    color:#fff;
    margin: 0;
    font-size:10px;
    font-family: "Sriracha";
}

@media screen and (max-width: 730px) {
    .MatchesHeader {
        flex-direction: column;
        /* margin: 30px auto 10px auto; */
    }
    .matchesHeader_title {
        margin: 0 auto;
    }
    .selectOption {
        margin: 0px auto;
        padding: 5px;
    }
}