.squadTable {
    border: 2px solid #ffcc00;
    border-radius: 20px;
    padding: 0;
    max-height: 500px;
    overflow: auto;
    width: 100%;
    position: relative;
}
.imageHolder {
    position: absolute;
    width: 100%;
    min-height: 1000px;
    top: 0;
    z-index: -1;
}
#squadTable {
    margin-bottom: 0;
}
.imageHolder img {
    width: 200px;
    height: 200px;
    position: sticky;
    top: 0;
    margin: 0 auto;
}
.table-background th,
.table-background td {
    background-color: rgba(33, 37, 41, 0.9);
}
.headerText > th {
    color: gold;
    font-size: 18px;
}
.playerName {
    margin-left: 10px;
}
.teamSquadTitle {
    font-family: "Sriracha";
    /* margin-bottom: 20px; */
    color: white;
    font-size: 1.5rem;
    justify-content: center;
}
.playerText {
    text-align: center;
}
.playerPosition {
    cursor: pointer;
}

#squadList > thead > tr > th:first-of-type {
    border-top-left-radius: 20px;
    margin-top: 10px;
}
#squadList > thead > tr > th:last-of-type {
    border-top-right-radius: 20px;
    margin-top: 10px;
}
#squadList > tbody > tr:last-child > td:first-of-type {
    border-bottom-left-radius: 20px;
    /* margin-bottom: 10px; */
}
#squadList > tbody > tr:last-child > td:last-of-type {
    border-bottom-right-radius: 20px;
    /* margin-bottom: 10px; */
}
#squadList > tbody > tr:last-child > td {
    padding: 10px;
    background: yellow;
}