.navbar {
    z-index: 2;
}
.close-navbar-toggler {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.close-navbar-toggler.collapsed {
    z-index: -1;
}
.navbar-brand {
    color: gold;
    margin-left: 20px;
    font-family: "Sriracha";
}

.nav-item, .nav-link {
    font-family: "Sriracha";
}

.listSelect {
    vertical-align: middle;
    align-items: center;
    display: flex;
}

.navbar-select {
    width: 120px;
    margin: 0 auto;
    vertical-align: middle;
}
.flag {
    display: flex;
    justify-content: space-between;
}
.actualFlag {
    margin: 0 0 0 15px;
}

@media screen and (max-width: 992px) {
    /* .navbar-brand {
        margin: 0 auto;
    } */
}