.loader {
    flex: 1;
    height: 100%;
}
.loader span {
    height: 90vh;
    margin: 0 auto;
    vertical-align: middle;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.teamsPage {
    display: flex;
    flex-direction: column;
}
.teamsPageInfo {
    display: flex;
}

.teamsPageMatches {
    width: 60%;
}
.teamsPageSquad {
    top: 60; 
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
}
.teamsPageMultiple {
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.teamsPageSmallStandings {
    margin: 20px 0;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 2px solid #ffcc00;
}

#smallStandings > thead > tr > th:first-of-type {
    border-top-left-radius: 20px;
}
#smallStandings > thead > tr > th:last-of-type {
    border-top-right-radius: 20px;
}
#smallStandings > tbody > tr:last-child > td:first-of-type {
    border-bottom-left-radius: 20px;
}
#smallStandings > tbody > tr:last-child > td:last-of-type {
    border-bottom-right-radius: 20px;
}
.nameAndFormContainer {
    display: flex;
}
.nameAndForm {
    margin-left: 2px;
    display: flex;
    flex-direction: column;
}
.teamCrest {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.buttonBar {
    margin: 0 auto;
    /* width: 50%; */
    display: flex;
    /* justify-content: space-around; */
}
.teamsButton {
    display: none;
    margin-bottom: 30px;
    padding: 20px;
}
.teamsPageForm {
    margin-top: 30px;
}

@media screen and (max-width: 1050px) {
    .teamsButton {
        display:flex;
    }
    .teamsPage {
        flex-direction: column;
    }
    .teamsPageInfo {
        flex-direction: column;
    }
    .teamsPageMatches {
        order: 2;
        width: 100%;
    }
    .teamsPageMultiple {
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .teamsPageForm {
        margin: 0 auto;
        width: 90%;
    }
    .teamsPageSquad {
        margin-bottom: 50px;
        order: 1;
        width: 90%;
        position: relative;
        margin-top: 0;
        height: 100%;
        top: 0;
    }
    .teamFormBalls {
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {
    .teamFormBalls {
        font-size: 8px;
    }
    .teamsPageForm {
        margin: 0 auto;
        width: 100%;
    }
}