.matchesPageMatches > .teamMatchesContainer > .cardContainer > div {
    width: 60%;
}
.matchesPageMatches {
    width: 100%;
    border-radius: 40px;
    padding: 20px;
    max-height: 100vh;
}
.matchesPage {
    display: flex;
    flex-direction: column;
}
.matchesPageHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    background: rgba(0,0,0,.6);
}
.matchesPageTeams {
    display: flex;
    justify-content: center;
}